<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Demo</title>
    <link href="../css/box3d.css" rel="stylesheet">
</head>
<body>
    <article class="gh-box3d gh-fullwidth">
        <h2>All elements can be turned into a box widh a 3d outline</h2>
        <p>and arbitry content.</p>
        <article class="gh-box3d gh-fullwidth">
            <article class="gh-box3d gh-box3d-blue">They can be nested as well.</article>
        </article>
    </article>
    <article class="gh-box3d">And you can<br>color them<br>black...</article>
    <article class="gh-box3d gh-box3d-blue">...or blue.</article>
</body>
</html>
