<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Demo</title>
    <link href="../gh/box3d.css" rel="stylesheet">
    <link href="../gh/title.css" rel="stylesheet">
    <link href="../gh/hyperlink.css" rel="stylesheet">
</head>
<body>
    <article class="gh-box3d gh-fullwidth">
        <h1 class="gh-title">All elements can be turned into a box widh a 3d outline via <code>.gh-box3d</code> css-class.</h1>
        <h2 class="gh-title-video">Most of the time a widget like this only has a title and a video player. This is a <code>.gh-title-video</code></h2>
        <h2 class="gh-title-audio">The only other media-type, that you can also use, is <code>.gh-title-audio</code></h2>
        <p>But these <i><code>.gh-box3d</code></i> elements can also contain other arbitrary content, including all kinds of html markup. There's really no limit! - You should fallow the main visual guides of <a href="https://jack0088.github.com/geekhunger" target="_blank" class="gh-hyperlink">Geekhunger</a>, though!</p>
        <article class="gh-box3d gh-fullwidth">
            <article class="gh-box3d gh-box3d-blue">They can be nested as well!</article>
        </article>
    </article>
    <article class="gh-box3d">And you can<br>choose between<br>black...</article>
    <article class="gh-box3d gh-box3d-blue">...and blue.</article>
</body>
</html>
