<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Demo</title>
    <link href="../gh/ui.css" rel="stylesheet">
</head>
<body>
    <p>Here's a <code>.gh-grid</code> example. Note, @media-querie are missing yet! And we only have a two-column layout for now (so no happy choosing^^). Also note the outer margin around the grid.</p>
    <p>See how smaller elements try to fill out the holes in the layout? Don't forget that while debugging the script execution order or something! :)</p>
    <section class="gh-grid">
        <article class="gh-box3d">element 1</article>
        <article class="gh-box3d gh-box3d-blue">element 2</article>
        <article class="gh-box3d gh-grid-double">element 3</article>
        <article class="gh-box3d">element 4</article>
        <article class="gh-box3d gh-box3d-blue gh-grid-double">element 5 (Note how element 6 got inserted into the void grid space above!)</article>
        <article class="gh-box3d">element 6</article>
    </section>
</body>
</html>
