<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Demo</title>
    <link href="../css/hyperlink.css" rel="stylesheet">
</head>
<body>
    <p><a href="#target">Hyperlinks</a> and <button>buttons</button> behave like pure HTML elements with default styling, until you assign them a <code>`class="gh-hyperlink"`</code> or <code>`class="gh-button"`</code>. These classes alter the font, color and other styling attributes of the assigned elements.</p>
    <div>
        <a href="#target" class="gh-hyperlink">regular page hyperlink</a>
        <a href="#target" class="gh-box3d">hyperlink that looks like a button</a>
        <button class="gh-box3d">real button</button>
    </div>
    <div>
        <a href="#target" class="gh-hyperlink gh-box3d">combination of hyperlink and button</a>
        <br>
        <a href="#target" class="gh-box3d gh-fullwidth">full-width hyperlink</a>
    </div>
</body>
</html>
