<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Demo</title>
    <link href="../style/hyperlink.css" rel="stylesheet">
    <link href="../style/av.css" rel="stylesheet">
</head>
<body>
    <ul class="gh-playlist gh-video">
        <li><a href="" class="gh-hyperlink">Hello World</a></li>
        <li>Mount-Point
            <ul>
                <li><a href="" class="gh-hyperlink">item one</a></li>
                <li><a href="" class="gh-hyperlink">item two</a></li>
                <li><a href="" class="gh-hyperlink">item three</a></li>
            </ul>
        </li>
        <li><a href="" class="gh-hyperlink">Mount-Point Link</a>
            <ul>
                <li><a href="" class="gh-hyperlink">item link</a>
                    <ul>
                        <li><a href="" class="gh-hyperlink">sub one</a></li>
                        <li><a href="" class="gh-hyperlink">sub two</a></li>
                        <li><a href="" class="gh-hyperlink">sub three</a></li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
    <p>Playlists are cool for grouping videos about the same topic (course vs tutorial). We will soon see which attributes hyperlinks need in order to play their href source inside a given video-player. <i>Oh, did your notice how we didn't include the <code>ui.css</code> and why we having now pure html and css styles?</i></p>
</body>
</html>
