<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Test</title>
    <link href="../css/outline.css" rel="stylesheet">
</head>
<body>
    <article class="gh-outline gh-fullwidth">
        <h2>All elements can be turned into a box widh a 3d outline</h2>
        <p>and arbitry content.</p>
        <article class="gh-outline gh-fullwidth">
            <article class="gh-outline gh-outline-blue">They can be nested as well.</article>
        </article>
    </article>
    <article class="gh-outline">And you can<br>color them<br>black...</article>
    <article class="gh-outline gh-outline-blue">...or blue.</article>
</body>
</html>
