<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Demo</title>
    <link href="../style/hyperlink.css" rel="stylesheet">
    <link href="../style/playlist.css" rel="stylesheet">
</head>
<body>
    <ul class="gh-playlist">
        <li><a href="" class="gh-hyperlink">Hello World</a></li>
        <li>Mount-Point
            <ul>
                <li><a href="" class="gh-hyperlink">item one</a></li>
                <li><a href="" class="gh-hyperlink">item two</a></li>
                <li><a href="" class="gh-hyperlink">item three</a></li>
            </ul>
        </li>
        <li><a href="" class="gh-hyperlink">Mount-Point Link</a>
            <ul>
                <li><a href="" class="gh-hyperlink">item link</a>
                    <ul>
                        <li><a href="" class="gh-hyperlink">sub one</a></li>
                        <li><a href="" class="gh-hyperlink">sub two</a></li>
                        <li><a href="" class="gh-hyperlink">sub three</a></li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</body>
</html>
