@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,500;0,700;1,500;1,700&display=swap");

body {
    margin: 0;
    padding: 16px;
}

* {
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    font-size: 14pt;
    color: black;
}

.border,
.button,
button {
    display: inline-block;
    background-color: white;
    border: none;
    outline: 1px solid black;
    outline-offset: -1px;
    box-shadow: -8px 8px 0px 0px black;
    box-sizing: border-box;
    margin-left: 8px;
    margin-bottom: 8px;
    margin-top: 0;
    padding: 8px;
    max-width: calc(100% - 8px);
}

.border-blue,
.button:hover,
button:hover {
    box-shadow: -8px 8px 0px 0px rgb(57, 71, 150);
    outline-color: rgb(57, 71, 150);
}

.button:hover,
button:hover,
a:hover {
    color: rgb(57, 71, 150);
}

.button,
button {
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

a:before,
a:hover:before {
    content: " ";
    display: inline-block;
    background-image: url("hyperlink.svg");
    background-size: contain;
    width: 16px;
    height: 16px;
}

.button:before,
.button:hover:before {
    background-image: none;
    width: 0;
    height: 0;
}

.button:hover,
button:hover {
    box-shadow: -4px 4px 0px 0px rgb(57, 71, 150);
    margin-left: 4px;
    margin-bottom: 4px;
    margin-top: 4px;
}

.html {
    background-color: yellow;
    border: none;
    width: 100%;
    min-height: 400px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: minmax(min-content, max-content);
    grid-auto-flow: row dense;
    grid-gap: 16px;
}

.grid-single {
    grid-column: span 1;
}

.grid-double {
    grid-column: span 2;
}

.fullwidth {
    width: 100%;
}
