@import url("box3d.css");

.gh-hyperlink {
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    font-size: 14pt;
    line-height: 16pt;
    color: black;
    cursor: pointer;
}

.gh-hyperlink:before {
    content: "";
    display: inline-block;
    background-image: url("hyperlink.svg");
    background-size: contain;
    width: 16px;
    height: 16px;
    margin-right: 2px;
}

.gh-hyperlink:hover,
a.gh-box3d:hover,
button.gh-box3d:hover {
    color: rgb(57, 71, 150);
}

a.gh-box3d:hover,
button.gh-box3d:hover {
    outline-color: rgb(57, 71, 150);
    box-shadow: -4px 4px 0px 0px rgb(57, 71, 150);
    position: relative;
    left: -4px;
    bottom: -4px;
}
