@import url("width.css");
@import url("grid.css");
@import url("box3d.css");
@import url("hyperlink.css");
@import url("title.css");
@import url("playlist.css");

body {
    margin: 0;
    padding: 0;
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    font-size: 14pt;
    line-height: 16pt;
    color: black;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    font-size: 14pt;
    line-height: 16pt;
}

h1 {
    font-size: 24pt;
    line-height: 24pt;
}
